version: 2

defaults: &defaults
    docker:
        - image: circleci/node:latest

filter-publish: &filter-publish
    filters:
        tags: {only: /^v\d*\.\d*\.\d*/}
        branches: { only: [master] }

workflows:
    version: 2
    go:
        jobs:
            - test
            - hold:
                requires: [ test ]
                type: approval
                <<: *filter-publish
            - publish:
                requires: [ hold ]
                <<: *filter-publish

jobs:
    test:
        <<: *defaults
        steps:
            - run: pwd
            - checkout
            - restore-cache:
                key: node_modules
            - run: yarn
            - run: npm i bs-platform
            - save-cache:
                key: node_modules
                paths:
                    - node_modules
            - run: npm run build
            - persist_to_workspace:
                root: ~/project
                paths: .
            - run: yarn test
    publish:
        <<: *defaults
        steps:
            - run: pwd
            - attach_workspace:
                at: ~/repo
            - run: ls
            - run: yarn publish
